<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
    <div class="navbar-header">
        <a href="http://autobuyers.ph" class="navbar-brand">
            <small>
                <i class="glyphicon glyphicon-log-out"></i>
                Back to Main page | Auto Buyers Philippines 
            </small>
        </a><!-- /.brand -->
        
    </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="container">
    <a href="index.html" class="navbar-brand">
        <small>
            <i class="glyphicon glyphicon-log-out"></i>
            Back to Homepage
        </small>
    </a><!-- /index -->
</div>

<div class="container">
<br/>
    <div class="row">
        <a href="partials/car-list.html" type="button" class="btn btn-default">Demo 1</a>
        <a href="demo2.html" type="button" class="btn btn-default">Demo 2</a>
    </div>
</div>

               
             
